<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!showSearch">Burmese Channel</ion-title>
    <ion-searchbar *ngIf="showSearch" [(ngModel)]="params.search"
      showCancelButton (ionCancel)="showSearch=false"
      (ionClear)="onSearchClear()" (keyup.enter)="onSearch()"></ion-searchbar>
    <ion-buttons *ngIf="!showSearch" slot="end">
      <ion-button (click)="(showSearch=!showSearch) && focusSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="onSort($event)">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onReload($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <app-message-view *ngIf="isErrorView" icon="wifi" message="No Connection
    Available"></app-message-view>
  <app-message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></app-message-view>
  <ion-list *ngIf="isContentView">
    <ion-item button *ngFor="let channel of channels"
      [routerLink]="['/channels', channel.id]">
      <ion-label>{{ channel.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="isContentView" threshold="100px"
    (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
